<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Weather</title>
    <script>
        let currentIcon = "<%= data.currently.icon %>";
        let fourDaysIcon = ["<%=data.daily.data[0].icon%>", "<%=data.daily.data[1].icon%>",
            "<%=data.daily.data[2].icon%>", "<%=data.daily.data[3].icon%>", "<%=data.daily.data[4].icon%>"
        ];
    </script>
</head>

<body>
    <div class="container">
        <div class="input-group mb-3" id="searchbar">
            <form id="search-form" style="width: 100%;">
                <input id="place" type="text" class="form-control" placeholder="Search City"
                    aria-label="Recipient's username" aria-describedby="button-addon2">

                <div id="cities" class="autocomplete-wrapper">

                </div>
            </form>
            <!-- <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button> -->
        </div>
        <div class="weather-wrapper">
            <p id="timezone"><%= data.timezone %></p>
            <div class="current-state">
                <div>
                    <canvas id="weather_icon" width="100" height="100"></canvas>
                    <p id="weather_description">
                        <%=data.currently.summary%>
                    </p>
                </div>
                <div id="degree">
                    <p class="current-temp" id="current_temp">
                        <%= Math.round(((data.currently.temperature - 32) * 5/9)) %>°c </p>
                </div>
                <div id="otherInfo">
                    <p>
                        Wind : <span id="speed"><%= data.currently.windSpeed %></span> kmph
                        <br>
                        Humidity : <span id="humidity"><%= data.currently.humidity %> </span> %
                        <br>
                        Pressure : <span id="pressure"><%= data.currently.pressure %></span> hPa
                    </p>
                </div>
            </div>
            <div class="weather-forecast">
                <% for( let index = 0; index < days.length; index++ ) { %>
                <div class="individual">
                    <p class="day"><%= days[index] %> </p>
                    <canvas class="for-icon" width="40" height="40"></canvas>
                    <p class="for-temp">
                        <%= Math.round(((((data.daily.data[index].temperatureMax + data.daily.data[index].temperatureMin)/2)-32)*5/9)) %>°c
                    </p>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <script defer src="/skycons.js"></script>

    <script>

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script defer src="/script.js"></script>
</body>

</html>